.button {
    border-radius: 12px;
    padding: 16px 32px 16px 32px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    transition: background 0.25s;
    border: none;

}

.button:hover {
    background: rgb(64, 55, 146);
}

.accent {
    background: rgb(123, 110, 246);
    width: 119px;
    height: 56px;
}